<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Messages</title>
  </head>
  <body>
 <ul>
   <li><a href="/">Home</a></li>
   <li><a href="/new">New Message</a></li>
 </ul>
    <%= yield %>
  </body>
</html>