<h2>Add Message</h2>
<form method="post" action="/post">
   <label for="body">Body: </label>
   <input type="text" name="body">
   <p>Destroy message:</p>
   <p><input name="destruction" type="radio" value="true">after the first link visit</p>
   <p><input name="destruction" type="radio" value="false">after 1 hour</p>
   <input type ="submit" value="Add Message">
</form>